<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>$title$</title>
  <link rel="stylesheet" href="$root_path$tufte.css">
</head>
<body>
  <nav>
    <a href="$root_path$index.html">Home</a> &nbsp;
    <a href="$root_path$blog.html">Blog</a> &nbsp;
    <a href="$root_path$projects.html">Projects</a> &nbsp;
    <a href="$root_path$contact.html">Contact</a> &nbsp;
    <a href="$root_path$more.html">More</a>
  </nav>
  <hr>

  <article>
    $if(title)$
    <h1>$title$</h1>
    $endif$

    $if(date)$
    <p class="subtitle">
      Published: $date$
      $if(updated)$
      <br><strong>Updated: $updated$</strong>
      $endif$
    </p>
    $endif$

    $body$
  </article>

</body>
</html>